main {
    background-color: grey;
    align-items: center;
}
.index-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
/* La page Gallerie */
.pub {
    display: flex;
    justify-content: center;
}
.caroussel {
    object-fit: contain;
}
#pics {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#pics img {
    margin: 5px;
    object-fit: contain;
}

.pic {
    width : 30%;
    margin : 0 auto;
    height : 30%;
    margin: 5px;
}
.gallery_buttons {
    display: flex;
    justify-content: left;
}
.add {
    display: flex;
    justify-content: right;
    margin-right: 10px;
}

/* Le formulaire */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}
.remove_button {
    display: flex;
    justify-content: right;
}
#pokemon_name{
    background-color: none;
}
.error {
    color: red; /* Style du texte en rouge pour les messages d'erreur */
}

@media screen and (max-width: 800px) {
    
}
@media screen and (max-width: 1920px) {

}
@media scren and (max-width: 3440px) {

}